.msg_main ,.msg_shared_main{
  border: 1px solid #DADADA;
  margin: 5px 0px;
  font-size: 1em;
  color: #343A41;
  display: table;
  width: 100%;
  background-color: #FFF;

}
.msg_head{
  overflow: auto;
  padding: 0.3em;
}
.msg_sender_pic{
  display: table-cell;
  width: 15%;
  vertical-align: top;
}
.msg_sender_pic img{
  padding: 6px;
  width: 48px;
}
.msg_details_main{
  display: table-cell;
  width: 85%;
}
.msg_sender_name{
  float: left;
  color: #386cbb;
  font-weight: bold;
  font-size: 0.9em;
}
.msg_date_time{
  float: right;
  color: #68717f;
  font-size: 0.8em;
}
.msg_body ,.msg_body_notifications{
  padding: 0.5em;
  font-size: 0.9em;
  line-height: 1.1em;
  word-break: break-word;
  cursor: pointer;
}
.senderLinkAnc{
  text-decoration: initial;
  color: #386cbb;
  text-transform: capitalize;
}
.msg_info {
  background-color: #f4f4f4;
  margin-top: 0.5em;
  font-size: 0.9em;
  padding: 2px 4px;
}
.msg_group_title {
  display: inline-block;
  padding: 2px 4px;
  font-size: 0.8em;
  background-color: #26618C;
  color: #fff;
  margin-left: -4px;
  cursor: pointer;
}
.msg_info > div {
  display: inline-block;
  cursor: pointer;
}
.msg_info i {
  font-size: 1.1em;
  margin: 0 0.5em;
  color: #666;
  padding: 6px 0 2px 0;
  cursor: pointer;
}
.msg_info i:hover {
  color: #0072C6;
}
.msg_info > div span {
  margin-top: -8px;
  display: inline-block;
}

.post_button {
  float: right;
}

.share_button {
  float: right;
}

#content img { max-width: 100% }

.msg_actions span {
  padding: 4px 6px;
  font-size: 0.9em;
  display: inline-block;
  cursor: pointer;
  color: #26618C;
}

.msg_liked_by:after {
  content: ',';
}

.msg_liked_by:last-child:after {
  content: '';
}

.msg_extended_actions {
  background-color: #eee;
  font-size: 0.9em;
  margin-top: 4px;
  cursor: pointer;
  padding: 3px 8px;
  color: #39628E;
}
.msg_liked_by {
  color: #39628E;
  cursor: pointer;
}
.msg_header {
  display: table;
}
.msg_content {
  width: 100%;
  display: block;
}
.reply_message textarea,
.share_message textarea {
  padding: 1em;
  font-size: 0.9em;
  background-color: #fafafa;
  box-shadow: inset 0 0 6px #aaa;
}
.msg_extended {
  padding: 2px 8px;
}
.msg_extended .msg_main {
  border: 1px solid #ccc;
  border-left: 3px solid #bbb;
}
