.msg_main{
  border: 1px solid #DADADA;
  margin: 5px 0px;
  font-size: 1em;
  color: #343A41;
  display: table;
  width: 100%;
  background-color: #FFF;

}
.msg_head{
  overflow: auto;
  padding: 0.5em;
}
.msg_sender_pic{
  display: table-cell;
  width: 15%;
  vertical-align: top;
}
.msg_sender_pic img{
  border-radius: 50%;
  padding: 6px;
  width: 48px;
}
.msg_details_main{
  display: table-cell;
  width: 85%;
}
.msg_sender_name{
  float: left;
  color: #386cbb;
  font-weight: bold;
  font-size: 0.9em;
}
.msg_date_time{
  float: right;
  color: #68717f;
  font-size: 0.8em;
}
.msg_body{
  padding: 0.5em;
  font-size: 0.9em;
  line-height: 1.1em;
}
.senderLinkAnc{
  text-decoration: initial;
  color: #386cbb;
}
