.la-pacman {
    position: relative;
    margin-left: -3em;
}
.la-pacman > div {
    position: relative;
    box-sizing: content-box;
    color: #0072C6;
    background: #0072C6;
    border-color: #0072C6;
    border-style: solid;
    border-width: 0;
}
.la-pacman:after {
    display: table;
    line-height: 0;
    clear: both;
    content: "";
}
.la-pacman.la-dark > div {
    color: #444;
    background: #444;
    border-color: #444;
}
.la-pacman {
    width: 32px;
    height: 32px;
}
.la-pacman > div:nth-child(3) {
    animation: pacman-balls 2s .06s infinite linear;
}
.la-pacman > div:nth-child(4) {
    animation: pacman-balls 2s .56s infinite linear;
}
.la-pacman > div:nth-child(5) {
    animation: pacman-balls 2s 1.06s infinite linear;
}
.la-pacman > div:nth-child(6) {
    animation: pacman-balls 2s 1.56s infinite linear;
}
.la-pacman > div:first-of-type {
    width: 0;
    height: 0;
    background: transparent;
    border-style: solid;
    border-width: 16px;
    border-right-color: transparent;
    border-radius: 100%;
    animation: pacman-rotate-half-up .5s 0s infinite;
}
.la-pacman > div:nth-child(2) {
    width: 0;
    height: 0;
    margin-top: -32px;
    background: transparent;
    border-style: solid;
    border-width: 16px;
    border-right-color: transparent;
    border-radius: 100%;
    animation: pacman-rotate-half-down .5s 0s infinite;
}
.la-pacman > div:nth-child(3),
.la-pacman > div:nth-child(4),
.la-pacman > div:nth-child(5),
.la-pacman > div:nth-child(6) {
    position: absolute;
    top: 50%;
    left: 200%;
    width: 8px;
    height: 8px;
    float: left;
    border-radius: 100%;
    opacity: 0;
}
.la-pacman.la-sm {
    width: 16px;
    height: 16px;
}
.la-pacman.la-sm > div:first-of-type {
    border-width: 8px;
}
.la-pacman.la-sm > div:nth-child(2) {
    margin-top: -16px;
    border-width: 8px;
}
.la-pacman.la-sm > div:nth-child(3),
.la-pacman.la-sm > div:nth-child(4),
.la-pacman.la-sm > div:nth-child(5),
.la-pacman.la-sm > div:nth-child(6) {
    width: 4px;
    height: 4px;
}
.la-pacman.la-lg {
    width: 48px;
    height: 48px;
}
.la-pacman.la-lg > div:first-of-type {
    border-width: 24px;
}
.la-pacman.la-lg > div:nth-child(2) {
    margin-top: -48px;
    border-width: 24px;
}
.la-pacman.la-lg > div:nth-child(3),
.la-pacman.la-lg > div:nth-child(4),
.la-pacman.la-lg > div:nth-child(5),
.la-pacman.la-lg > div:nth-child(6) {
    width: 12px;
    height: 12px;
}
.la-pacman.la-2x {
    width: 64px;
    height: 64px;
}
.la-pacman.la-2x > div:first-of-type {
    border-width: 32px;
}
.la-pacman.la-2x > div:nth-child(2) {
    margin-top: -64px;
    border-width: 32px;
}
.la-pacman.la-2x > div:nth-child(3),
.la-pacman.la-2x > div:nth-child(4),
.la-pacman.la-2x > div:nth-child(5),
.la-pacman.la-2x > div:nth-child(6) {
    width: 16px;
    height: 16px;
}
/*
 * Animations
 */
@keyframes pacman-rotate-half-up {
    0% {
        transform: rotate(270deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(270deg);
    }
}
@keyframes pacman-rotate-half-down {
    0% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}
@keyframes pacman-balls {
    0% {
        left: 200%;
        opacity: 0;
        transform: translateY(-50%);
    }
    5% {
        opacity: .5;
    }
    66% {
        opacity: 1;
    }
    67% {
        opacity: 0;
    }
    100% {
        left: 0;
        transform: translateY(-50%);
    }
}
.la-square-spin,
.la-square-spin > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.la-square-spin {
    display: block;
    font-size: 0;
    color: #0072C6;
}

.la-square-spin.la-dark {
    color: #333;
}

.la-square-spin > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.la-square-spin {
    width: 32px;
    height: 32px;
}

.la-square-spin > div {
    width: 100%;
    height: 100%;
    border-radius: 0;
    -webkit-animation: square-spin 3s 0s cubic-bezier(.09, .57, .49, .9) infinite;
       -moz-animation: square-spin 3s 0s cubic-bezier(.09, .57, .49, .9) infinite;
         -o-animation: square-spin 3s 0s cubic-bezier(.09, .57, .49, .9) infinite;
            animation: square-spin 3s 0s cubic-bezier(.09, .57, .49, .9) infinite;
}

.la-square-spin.la-sm {
    width: 16px;
    height: 16px;
}

.la-square-spin.la-2x {
    width: 64px;
    height: 64px;
}

.la-square-spin.la-3x {
    width: 96px;
    height: 96px;
}

/*
 * Animation
 */
@-webkit-keyframes square-spin {
    0% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
                transform: perspective(100px) rotateX(0) rotateY(0);
    }
    25% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
                transform: perspective(100px) rotateX(180deg) rotateY(0);
    }
    50% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
                transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }
    75% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
                transform: perspective(100px) rotateX(0) rotateY(180deg);
    }
    100% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(360deg);
                transform: perspective(100px) rotateX(0) rotateY(360deg);
    }
}
@-moz-keyframes square-spin {
    0% {
        -moz-transform: perspective(100px) rotateX(0) rotateY(0);
             transform: perspective(100px) rotateX(0) rotateY(0);
    }
    25% {
        -moz-transform: perspective(100px) rotateX(180deg) rotateY(0);
             transform: perspective(100px) rotateX(180deg) rotateY(0);
    }
    50% {
        -moz-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
             transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }
    75% {
        -moz-transform: perspective(100px) rotateX(0) rotateY(180deg);
             transform: perspective(100px) rotateX(0) rotateY(180deg);
    }
    100% {
        -moz-transform: perspective(100px) rotateX(0) rotateY(360deg);
             transform: perspective(100px) rotateX(0) rotateY(360deg);
    }
}
@-o-keyframes square-spin {
    0% {
        transform: perspective(100px) rotateX(0) rotateY(0);
    }
    25% {
        transform: perspective(100px) rotateX(180deg) rotateY(0);
    }
    50% {
        transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }
    75% {
        transform: perspective(100px) rotateX(0) rotateY(180deg);
    }
    100% {
        transform: perspective(100px) rotateX(0) rotateY(360deg);
    }
}
@keyframes square-spin {
    0% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
           -moz-transform: perspective(100px) rotateX(0) rotateY(0);
                transform: perspective(100px) rotateX(0) rotateY(0);
    }
    25% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
           -moz-transform: perspective(100px) rotateX(180deg) rotateY(0);
                transform: perspective(100px) rotateX(180deg) rotateY(0);
    }
    50% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
           -moz-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
                transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }
    75% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
           -moz-transform: perspective(100px) rotateX(0) rotateY(180deg);
                transform: perspective(100px) rotateX(0) rotateY(180deg);
    }
    100% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(360deg);
           -moz-transform: perspective(100px) rotateX(0) rotateY(360deg);
                transform: perspective(100px) rotateX(0) rotateY(360deg);
    }
}
