.sw-person {
	margin: 16px 6px;
	cursor: pointer;
}

.sw-person-mugshot img {
    padding: 6px;
}

.sw-person > div {
    display: inline-block;
}

.sw-person-fullname {
    font-size: 0.9em;
    word-wrap: normal;
    word-break: normal;
    text-transform: capitalize;
    padding: 6px;
    text-overflow: ellipsis;
    width: 75%;
    color: #555;
}


.sw-person-mugshot {
    width: 20%;
}

.sw-people-alpha-index {
    padding: 6px 12px;
    text-align: center;
    position: fixed;
    margin-right: 6px;
    opacity: 0.9;
}

.sw-people-content {
	padding-top: 64px;
}

.sw-people-alpha {
    padding: 2px 2px;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.sw-people-alpha:hover {
	cursor: pointer;
	color: #0072C6;
}

.sw-people-alpha.active {
	color: #0072C6;
	border-bottom: 2px solid #0072C6;
}

.sw-no-user-found {
    padding: 1.5em;
    text-align: center;
}

.sw-search {
    font-size: 1.1em;
    font-weight: bold;
    height: 1em;
    cursor: pointer;
    vertical-align: middle;
}

.sw-search:hover {
    color: #0072C6;
}

.mui-tabs.sw-network-feed-tabs {
    padding-top: 4px;
    text-align: left;
    background-color: #fff;
    position: fixed;
    width: 89%;
    opacity: 0.96;
}

.mui-tabs.sw-network-feed-tabs li a {
    line-height: 24px;
    height: 24px;
}

.network-feed {
    padding-top: 36px;
}

.sw-settings-pane {
  padding: 1em;
  font-size: 0.9em;
  margin-top: 12em;
  color: #0072C6;
}

.sw-about-tabs.mui-tabs > li > a {
  font-size: 0.9em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.sw-about-tabs {
    text-align: center;
    border-bottom: 2px solid #ddd;
}

.sw-about-tab {
    font-size: 0.9em;
    padding: 1em 2em;
}

.sw-about-jumbotron {
    text-align: center;
}

.sw-about-jumbotron img {
    width: 25%;
    margin-top: 1em;
}

.sw-group-card {
    padding: 6px;
    font-size: 0.9em;
    border: 1px solid #ccc;
}

.sw-group-card:hover {
    cursor: pointer;
    color: #0072C6;
}

.sw-group-mugshot {
    margin-right: 12px;
    height: 36px;
}
