<div class="mui-panel sw-message-thread">
  {{#each messages}}
  <div class="sw-message">
    <div class="mui-row sw-message-starter">
      <div class="mui-col-xs-4 sw-user-mugshot" data-user-id="{{createdby.id}}">{{createdby.mugshot_url}}</div>
      <div class="mui-col-xs-20 sw-message-content">

      </div>
    </div>
  </div>
  {{/each}}
</div>
