<div class="mui-panel mui-z2">
  <div class="sw-about-jumbotron">
    <div style="sw-about-logo"><img src="/img/yammerlogo.png" title="Logo"/></div>
    <h3>Yammer plugin for Chrome</h3>
    <h5>v 0.1.5</h5>
  </div>
  <div class="sw-about-tabs-container">
    <ul class="mui-tabs sw-about-tabs">
      <li class="mui-active"><a data-mui-toggle="tab" data-mui-controls="about-plugin">About</a></li>
      <li><a data-mui-toggle="tab" data-mui-controls="about-technology">What's new</a></li>
      <li><a data-mui-toggle="tab" data-mui-controls="about-contributors">Contributors</a></li>
    </ul>
    <div class="mui-tab-content">
      <div class="mui-tab-pane mui-active sw-about-tab" id="about-plugin">
        <p>Yammer plugin for Chrome began as a Team LeanTaaS hackathon project on July 3rd. At the end of the hackathon, the POC showcased the potential of bringing the Yammer experience in the form of a plugin to Chrome.</p>
        <p>Over the course, we have decided that the plugin should only enrich the experience rather than be a direct replacement for the website. However, we are trying to address most of the use cases of Yammer with this plugin.</p>
      </div>
      <div class="mui-tab-pane sw-about-tab" id="about-contributors">
        <p>The current development team in alphabetical order:</p>
        <ul>
          <li>Kiran Danduprolu</li>
          <li>Krishnamraj Goud</li>
          <li>Manoj Kumar Padala</li>          
          <li>Mohanraj T</li>
          <li>Rishav Kumar Verma</li>
        </ul>
        <p>If you want to contribute to this plugin, you could contact one of the current development team members</p>
      </div>
      <div class="mui-tab-pane sw-about-tab" id="about-technology">
        <p>Coming Soon</p>
      </div>
    </div>
  </div>
</div>
