<div class="mui-panel mui-z2">
  <div class="sw-about-jumbotron">
    <div style="sw-about-logo"><img src="/img/yammerlogo.png" title="Logo"/></div>
    <h3>Yammer plugin for Chrome</h3>
    <h5>v 0.1.5</h5>
  </div>
  <div class="sw-about-tabs-container">
    <ul class="mui-tabs sw-about-tabs">
      <li class="mui-active"><a data-mui-toggle="tab" data-mui-controls="about-plugin">About</a></li>
      <li><a data-mui-toggle="tab" data-mui-controls="about-technology">What's new</a></li>
      <li><a data-mui-toggle="tab" data-mui-controls="about-contributors">Contributors</a></li>
    </ul>
    <div class="mui-tab-content">
      <div class="mui-tab-pane mui-active sw-about-tab" id="about-plugin">
        <p>Yammer plugin for Chrome by Imaginea tries to enrich your enterprise Yammer experience by providing an easy to use UI which compliments the web interface of Yammer and lets you stay connected with your peers from within Chrome.</p>
        <p>For more details, head over to the <a href="http://manoj535.github.io/Swarm" target="_blank">web page</a></p>
      </div>
      <div class="mui-tab-pane sw-about-tab" id="about-contributors">
        <p>The current development team comprises of:</p>
        <ul>
          <li>Kiran Danduprolu</li>
          <li>Krishnamraj Goud</li>
          <li>Manoj Kumar Padala</li>
          <li>Mohanraj T</li>
          <li>Rishav Kumar Verma</li>
        </ul>
        <p>If you want to contribute to this plugin, you can head over to the <a href="https://github.com/manoj535/Swarm" target="_blank">Github Repository</a> and pick any one of the pending issues.</p>
      </div>
      <div class="mui-tab-pane sw-about-tab" id="about-technology">
        <p>Coming Soon</p>
      </div>
    </div>
  </div>
</div>
