<div class="mui-form-group group_list">
	<div class="mui-panel mui-z2 sw-group-card" data-group-id="all">All Company</div>

	{{#each groups.group_memberships}}
	<div class="mui-panel mui-z2 sw-group-card" data-group-id="{{id}}"">{{full_name}}</div>
	{{/each}}
</div>
