<ul class="mui-tabs sw-network-feed-tabs mui-tabs-justified">
  <li class="mui-active"><a data-mui-toggle="tab" data-mui-controls="network-feed-all">All</a></li>
  <li><a data-mui-toggle="tab" data-mui-controls="network-feed-top">Top</a></li>
  <li><a data-mui-toggle="tab" data-mui-controls="network-feed-following">Following</a></li>
</ul>
<div class="mui-tab-content">
  <div class="mui-tab-pane mui-active network-feed" id="network-feed-all"></div>
  <div class="mui-tab-pane network-feed" id="network-feed-top"></div>
  <div class="mui-tab-pane network-feed" id="network-feed-following"></div>
</div>
<div>
	<button class="mui-z3 mui-btn mui-btn-floating mui-btn-floating-mini post-btn">
		<i class="material-icons">add</i>
	</button>
</div>
