<div class="mui-row mui-panel mui-z2 sw-people-alpha-index">
	<span><i class="material-icons sw-search" title="Search">search</i></span>
	<span class="sw-people-alpha" value="A">A</span>
	<span class="sw-people-alpha" value="B">B</span>
	<span class="sw-people-alpha" value="C">C</span>
	<span class="sw-people-alpha" value="D">D</span>
	<span class="sw-people-alpha" value="E">E</span>
	<span class="sw-people-alpha" value="F">F</span>
	<span class="sw-people-alpha" value="G">G</span>
	<span class="sw-people-alpha" value="H">H</span>
	<span class="sw-people-alpha" value="I">I</span>
	<span class="sw-people-alpha" value="J">J</span>
	<span class="sw-people-alpha" value="K">K</span>
	<span class="sw-people-alpha" value="L">L</span>
	<span class="sw-people-alpha" value="M">M</span>
	<span class="sw-people-alpha" value="N">N</span>
	<span class="sw-people-alpha" value="O">O</span>
	<span class="sw-people-alpha" value="P">P</span>
	<span class="sw-people-alpha" value="Q">Q</span>
	<span class="sw-people-alpha" value="R">R</span>
	<span class="sw-people-alpha" value="S">S</span>
	<span class="sw-people-alpha" value="T">T</span>
	<span class="sw-people-alpha" value="U">U</span>
	<span class="sw-people-alpha" value="V">V</span>
	<span class="sw-people-alpha" value="W">W</span>
	<span class="sw-people-alpha" value="X">X</span>
	<span class="sw-people-alpha" value="Y">Y</span>
	<span class="sw-people-alpha" value="Z">Z</span>
</div>
<div class="mui-row sw-people-content">

</div>
