<div class="mui-row sw-people">
	{{#each users}}
	<div class="sw-person mui-panel" data-user-id="{{id}}">
		<div class="sw-person-mugshot"><img src="{{mugshot_url_template}}" /></div>
		<div class="sw-person-fullname">{{full_name}}</div>
	</div>
	{{/each}}
  {{#unless users.length}}
  <div class="mui-col-xs-24 mui-panel sw-no-user-found">
    You have reached the end.
  </div>
  {{/unless}}
</div>
