<div class="reply_message mui-form-group">
<textarea name="message_body" class="mui-form-control" id="reply_body" rows="5" cols="37" autofocus/>
<button class="post_button mui-btn mui-btn-primary mui-btn-raised mui-btn-flat">Post</button>
</div>