<ul class="mui-tabs mui-tabs-justified">
<li class="mui-active">
<a class="search_messages" data-mui-toggle="tab" data-mui-controls="search_messages">Messages</a>
</li>
<li>
<a class="search_users" data-mui-toggle="tab" data-mui-controls="search_users">Users</a>
</li>
</ul>
<div class="mui-tab-content">
<div class="mui-tab-pane mui-active" id="search_messages"></div>
<div class="mui-tab-pane" id="search_users"></div>
</div>