{{#each user}}
<div class='msg_main mui-panel mui-z2'>
<div class='msg_sender_pic'>
<a class='senderLinkAnc' data-user-id="{{id}}" href='javascript:{}'>
<img src="{{mugshot_url}}"/>
</a>
</div>
<div class='msg_details_main'>
<div class='msg_head'>
<div class='msg_sender_name'>
<a class='senderLinkAnc' data-user-id="{{id}}" href='javascript:{}'>{{full_name}}</a>
</div>
</div>
<div class='msg_body'>
</div>
</div>
</div>
{{/each}}
